.App {
  text-align: center;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: rgba(195, 195, 195, 0.8);
  min-height: 100vh;
  justify-content: center; /* centers grid if items are smaller than columns */
  align-content: start;
  padding: 10rem;
}