.App {
  text-align: center;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  padding: 40px;
  background-color: rgba(155, 160, 215, 0.8);
  min-height: 100vh;
}
